@import '../../variables.scss';

.nav-wrapper{
  background-color: $mainColor;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid darken($mainColor, 3%);
  overflow: hidden;
  nav{ // Container
    .nav-left{
      float: left;
      .logo{
        padding: 16px;
        padding-left: 0px;
        font-size: 20px;
        color: $lightFont;
        display: inline-block;
      }
    }
    .nav-right{
      float: right;
      ul{
        margin: 0;
        padding: 0;
        li{
          list-style: none;
          display: inline-block;
          margin: 10px;
          position: relative;
          a{
            color: $lightFont;
            display: inline-block;
            padding: 10px;
            &:after{
              content: '';
              position: absolute;
              bottom: -15px;
              left: 0;
              right: 0;
              margin: auto;
              width: 0px;
              height: 0px;
              border-radius: 50%;
              background-color: $lightFont;
              transition: all linear 200ms;
            }
            &.active-link{
              &:after{
                width: 10px;
                height: 10px;
                transition: all linear 200ms;
              }
            }
            &:hover, &:focus{
              text-decoration: none;
              &:after{
                width: 10px;
                height: 10px;
                bottom: -5px;
                transition: all linear 200ms;
              }
            }
          } // END a
        } // END li
      } // END ul
    } // END nav-right

  } // END nav
} // END nav wrapper
